<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU's ANTARA || DIQOMA</title>
    <link rel="icon" href="../img/icon.png">
    <script src="https://kit.fontawesome.com/be576eb19f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
    <div class="navigation">
        <div class="title">
            <img src="../img/logo-white.png" alt="">
            <a href="../index.html"><i class="fas fa-arrow-left"></i>&ensp;Back</a>
        </div>
    </div>
    <header>
        <h1>GALLERY</h1>
        <p>Dibawah ini adalah beberapa gambar bebagai macam makanan khas indonesia mulai dari rasa manis, asam, pedas dan gurih.</p>
    </header>
    <div class="colloums1">
        <img style="margin: 2%; width: 25%; height: 98%; float: left;" src="../img/eat/gallery2.jpg" alt="">
        <img style="margin: 2%; width: 25%;" src="../img/eat/aunusenebre.jpg" alt="">
        <img style="margin: 2%; width: 25%;" src="../img/eat/lektausuan.jpg" alt="">
        <img style="margin: 2%; width: 25%;" src="../img/eat/garang asem.jpg" alt="">
        <img style="margin: 2%; width: 25%;" src="../img/eat/gulaipaku.jpg" alt="">
    </div>
    
    <div class="card">
        <div class="colloums2">
            <img style="margin: 2%; width: 25%; " src="../img/eat/gudeg.jpg" alt="">
            <img style="margin: 2%; width: 54%; height: 44%;" src="../img/eat/gallery.jpg" alt="">
            <img style="margin: 2%; width: 25%; float: left;" src="../img/eat/cakalang.jpg" alt="">
            <img style="margin: 2%; width: 25%;" src="../img/eat/cingur.jpg" alt="">
            <img style="margin: 2%; width: 25%;" src="../img/eat/rendang.jpg" alt="">
        </div>
    </div>

    <footer>
        <p>Menu's Antara adalah media belajar memasak masakan indonesia dengan menggunakan
            platform website, dimana kita dapat mengakses kapanpun dan dimanapun, dengan
            resep-resep asal nusantara dari ujung timur hingga ujung barat.
        </p>
        <hr>
        <h3>&copy;DIQOMA</h3>    
    </footer>
</body>
</html>