    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Makanan Khas Kalimantan || DIQOMA</title>
        <link rel="icon" href="../img/icon.png">
        <script src="https://kit.fontawesome.com/be576eb19f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/receipt.css">
    </head>
    <body>
        <div class="navigation">
            <div class="title">
                <img src="../img/logo-white.png" alt="">
                <a href="../index.html"><i class="fas fa-arrow-left"></i>&ensp;Back</a>
            </div>
        </div>

        <header>
            <div class="cont">
                <img src="../img/island/kalimantan.png" alt="">
                <h1>RESEP MAKANAN KHAS KALIMANTAN</h1>
                <p>Dibawah ini adalah list resep-resep makanan pilihan dari pulau Kalimantan yang dominan ke rasa gurih, manis.</p>
            </div>
        </header>
        <div class="card">
            <div class="icon">
                <img src="../img/eat/garang asem.jpg" alt="">
                <img src="../img/eat/lektausuan.jpg" alt="">
                <img src="../img/eat/tinutuan.jpg" alt="">
            </div>
        </div>
        <div class="main">
            <div class="content1">
                <img style="float: left;" src="../img/eat/garang asem.jpg" alt="">
                <h1>Garang Asem</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>1 ekor ayam, potong 24 bagian</li>
                    <li>5 buah cabai hijau besar, potong bulat ½ cm</li>
                    <li>24 buah cabai rawit merah utuh</li>
                    <li>6 buah belimbing sayur, potong bulat 1 cm</li>
                    <li>4 buah tomat hijau, potong-potong</li>
                    <li>2 batang daun bawang, potong 1cm</li>
                    <li>50 gram daun kemangi</li>
                    <li>1 sendok makan garam</li>
                    <li>2 sendok teh gula merah sisir</li>
                    <li>750 ml santan dari 1 butir kelapa</li>
                    <li>2 buah serai, iris</li>
                    <li>4 lembar daun salam, sobek – sobek</li>
                    <li>4 cm lengkuas, iris</li>
                    <li>16 lembar daun pisang untuk membungkus</li>
                </ul>
                <h3>Bumbu halus:</h3>
                <ul>
                    <li>10 butir bawang merah</li> 
                    <li>5 siung bawang putih</li>
                    <li>4 butir kemiri sangrai</li>
                    <li>2 cm jahe</li>
                    <li>1 sendok makan ketumbar bubuk</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Campur ayam, bumbu halus, garam, dan gula merah. Remas – remas ayam. Diamkan 30 menit.</li>
                    <li>Masukkan cabai hijau, cabai rawit, blimbing sayur, tomat, daun bawang, daun kemangi, dan santan. Aduk rata.</li>
                    <li>Ambil dua lembar daun pisang. Letakkan potongan serai, daun salam, dan lengkuas.</li>
                    <li>Sendokkan campuran ayam dan kuah santan ke lembaran dua pisang.</li>
                    <li>Bungkus tum dan semat dengan lidi.</li>
                    <li>Kukus dengan api kecil selama satu jam sampai matang.</li>
                    <li>Garang asem siap disajikan</li>

                </ul>
                <img style="float: right;" src="../img/eat/lektausuan.jpg" alt="">
                <h1 style="margin-left: 30%;">Lek Tau Suan</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>250 gr kacang hijau kupas</li>
                    <li>3 sdm gula pasir</li>
                    <li>2 ltr air</li>
                    <li>4 bh daun pandan (simpulkan)</li>
                    <li>200 gr gula pasir (tingkat kemanisan silakan sesuaikan selera)</li>
                    <li>50 gr sagu (larutkan dgn air 100 ml)</li>
                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Rendam kacang hijau kupas dgn air minum selama 2 jam. Tiriskan, buang airnya.</li>
                    <li>Sangrai kacang hijau kupas di kuali teflon selama 10 menit tanpa minyak.</li> 
                    <li>Masukan gula & aduk terus sampai gula larut selama 5 menit (api kecil).</li> 
                    <li>Aduk terus , jangan sampai gosong. Sisihkan.</li>
                    <li>Panaskan air+daun pandan sampai mendidih. Masukan gula pasir, masak sampai gula larut.</li>
                    <li>Masukan kacang hijau kupas, rebus selama 5 menit.</li> 
                    <li>Buang daun pandan.</li>  
                    <li>masukan larutan air sagu perlahan sambil terus diaduk. Masak sebentar hingga mengental.</li>
                    <li>Lek Tau Suan siap  disajikan</li>
                </ul>
                <img style="float: left;" src="../img/eat/tinutuan.jpg" alt="">
                <h1>Tinutuan</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>200 gram Beras</li> 
                    <li>150 gram Singkong, potong kotak kecil</li>
                    <li>200 gram Ubi kuning, potong kotak kecil</li>
                    <li>150 gram Labu kuning kukus, dihaluskan</li> 
                    <li>150 gram Labu kuning kukus, potong kotak kecil</li> 
                    <li>2 buah Jagung manis, pipil</li> 
                    <li>4 batang Serai, memarkan</li> 
                    <li>Garam – 1 sdm</li>
                    <li>½ sdm Kaldu bubuk</li> 
                    <li>½ sdt Merica bubuk</li> 
                    <li>1,8 liter Air</li>  
                </ul>
                <h3>Sayuran :</h3>
                <ul>
                    <li>1 batang Daun bawang, iris halus</li>
                    <li>1 ikat Bayam, petik-petik daunnya</li> 
                    <li>1 ikat Kangkung, petik-petik daunnya</li> 
                    <li>2 ikat Kemangi, ambil daun dan pucuk mudanya</li> 

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Masak beras, ubi kayu, ubi kuning, jagung manis dan serai dengan 900 ml air.</li>
                    <li>Setelah air menyusut, baru tambahkan sisa 900 ml air lagi, aduk rata. Masak hingga jagung dan ubi empuk.</li>
                    <li>Tambahkan garam, kaldu bubuk dan merica bubuk, aduk rata. Koreksi rasa sesuai selera.</li>
                    <li>Masukkan daun bawang, bayam, kangkung dan labu kuning, aduk rata.</li>
                    <li>Masak sebentar hingga sayuran layu, matikan api. Tambahkan kemangi aduk rata.</li>
                    <li>Tumis bawang putih cincang dengan 3 sdm minyak goreng sampai harum dan kuning keemasan sambil terus diaduk supaya bawang tidak gosong.</li>
                    <li>Tuang tumisan bawang putih beserta minyaknya ke bubur, aduk rata.</li>
                    <li>Sajikan hangat dengan sambal terasi dan ikan asin goreng. Bisa juga disajikan dengan sambal dabu-dabu.</li>
                    
                </ul>    
            </div>
        </div>
        
        <footer>
            <p>Menu's Antara adalah media belajar memasak masakan indonesia dengan menggunakan
                platform website, dimana kita dapat mengakses kapanpun dan dimanapun, dengan
                resep-resep asal nusantara dari ujung timur hingga ujung barat.
            </p>
            <hr>
            <h3>&copy;DIQOMA</h3>    
        </footer>
    </body>
    </html>