<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Makanan Khas Jawa || DIQOMA</title>
        <link rel="icon" href="../img/icon.png">
        <script src="https://kit.fontawesome.com/be576eb19f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/receipt.css">
    </head>
    <body>
        <div class="navigation">
            <div class="title">
                <img src="../img/logo-white.png" alt="">
                <a href="../index.html"><i class="fas fa-arrow-left"></i>&ensp;Back</a>
            </div>
        </div>

        <header>
            <div class="cont">
                <img style="width: 550px;" src="../img/island/jawa.png" alt="">
                <h1>RESEP MAKANAN KHAS JAWA</h1>
                <p>Dibawah ini adalah list resep-resep makanan pilihan dari pulau Jawa yang dominan ke rasa pedas, gurih, manis.</p>
            </div>
        </header>
        <div class="card">
            <div class="icon">
                <img src="../img/eat/cingur.jpg" alt="">
                <img src="../img/eat/gudeg.jpg" alt="">
                <img src="../img/eat/gadogado.jpg" alt="">
            </div>
        </div>
        <div class="main">
            <div class="content1">
                <img style="float: left;" src="../img/eat/cingur.jpg" alt="">
                <h1>Rujak Cingur</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>150 gram cingur sapi</li> 
                    <li>1 ikat kangkung, siangi daunnya kemudian rebus dan tiriskan</li> 
                    <li>100 gram taoge, siangi ekornya kemudian rebus dan tiriskan</li> 
                    <li>1 buah mentimun, potong 1 cm 1 buah mentimun krai,</li> 
                    <li>kukus hingga lunak 2 kotak tempe goreng,</li> 
                    <li>potong 2 kotak tahu putih goreng,</li>
                    <li>potong 1 buah lontong, potong</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    
                    <li>Rebus cingur sapi bersama garam, 1 siung bawang putih, dan ketumbar yang dihaluskan. Masak hingga cingur lunak, angkat dan tiriskan.</li> 
                    <li>Langkah selanjutnya membuat bumbu kacang. Pertama haluskan kacang, bawang putih, cabai rawit, gula merah, terasi, dan garam. Tambahkan petis dan air asam, aduk rata. Lalu tambahkan air secukupnya untuk mengencerkan bumbu kacang.</li> 
                    <li>Masuk dalam langkah penyajian. Siapkan piring saji, letakkan kangkung, taoge, potongan mentimun krai, mentimun, cingur yang telah dipotong, tempe, tahu dan lontong. Siram dengan bumbu kacang. Sajikan rujak cingur</li>
                </ul>
                <img style="float: right;" src="../img/eat/gudeg.jpg" alt="">
                <h1 style="margin-left: 30%;">Gudheg</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>1 kg nangka muda</li>
                    <li>5 butir telur ayam rebus, kupas</li>
                    <li>2 lembar daun salam</li>
                    <li>3 lembar daun jeruk</li>
                    <li>3 cm lengkuas, memarkan</li>
                    <li>120 g gula Jawa yang cokelat tua</li>
                    <li>1.5 liter santan sedang</li>
                    <li>500 ml santan kental</li>
                    <li>8 butir bawang merah</li>
                    <li>5 siung bawang putih</li>
                    <li>5 butir kemiri</li>
                    <li>1 sdm ketumbar</li>
                    <li>1 potong terasi</li>
                    <li>1/4 sdt jintan</li>
                    <li>2 sdt garam</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Potong nangka muda berbentuk dadu besar. Rebus nangka muda dalam air atau air kelapa tua secukupnya hingga lunak. Angkat dan tiriskan nangka muda.</li>
                    <li>Bumbu Halus: Haluskan semua bahan bumbu dengan blender atau ulekan hingga halus benar.</li>
                    <li>Masukkan nangka muda dan telur ke dalam panci. Tuangi santan, masukkan bumbu halus, daun salam, daun jeruk, lengkuas dan gula merah.</li>
                    <li>Masak dengan api sedang hingga bumbu meresap dan kuahnya susut.</li>
                    <li>Tuangkan santan kental. Masak dengan api hingga kuah benar-benar susut. Matikan api.</li>
                    <li>Gudeg siap disajikan</li>


                </ul>
                <img style="float: left;" src="../img/eat/gadogado.jpg" alt="">
                <h1>Gado-Gado</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>200 gr Kacang tanah</li>
                    <li>6 siung Bawang putih, goreng</li>
                    <li>8 buah cabe merah keriting</li>
                    <li>6 buah cabe rawit merah, opsional</li>
                    <li>50 gr gula merah</li>
                    <li>400 ml Santan</li>
                    <li>1 sdt Air asam</li>
                    <li>1 sdt Garam</li>
                    <li>1 sdt Gula pasir</li>
                    <li>1 sdm Tepung beras, larutkan dengan sedikit air</li>
                    <li>Secukupnya Kerupuk udang/emping</li>
                    <li>Secukupnya Bawang goreng</li>
                    <li>Secukupnya Sambel rawit (rawit rebus uleg dengan sedikit garam)</li>                    
                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Haluskan kacang tanah menggunakan blender hingga halus. Sisihkan.</li>
                    <li>Goreng bawang putih dan cabe, lalu haluskan, boleh di blender ataupun di uleg hingga halus. Setelah itu tumis hingga harum, angkat dan sisihkan.</li>
                    <li>Campur kacang tanah halus bersama bawang putih dan cabe halus, aduk hingga rata.</li>
                    <li>Masukkan bumbu kacang kedalam wajan, lalu tambahkan air santan, gula, garam dan air asam. Masak menggunakan api kecil hingga kuah menyusut sambil sesekali diaduk.</li>
                    <li>Masukkan larutan tepung beras, aduk hingga mengental. Tingkat kekentalan sesuaikan dengan selera masing-masing.</li>
                    <li>Koreksi rasa, apabila sudah pas, angkat dan sisihkan.</li>
                    <li>Rebus kentang, wortel dan kol secara bergantian. Angkat dan sisihkan.</li>
                    <li>Goreng tahu dan tempe hingga matang, angkat dan potong-potong sesuai selera.</li>
                    <li>Penyajian: Siapkan piring saji, tata lontong bersama semua sayuran, tahu, tempe dan telur rebus. Siram dengan bumbu gado gado yang telah di buat diatas.</li>
                    <li>Sajikan bersama dengan lauk.</li>
                </ul>    
            </div>
        </div>
        
        <footer>
            <p>Menu's Antara adalah media belajar memasak masakan indonesia dengan menggunakan
                platform website, dimana kita dapat mengakses kapanpun dan dimanapun, dengan
                resep-resep asal nusantara dari ujung timur hingga ujung barat.
            </p>
            <hr>
            <h3>&copy;DIQOMA</h3>    
        </footer>
    </body>
    </html>