<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Makanan Khas Papua || DIQOMA</title>
        <link rel="icon" href="../img/icon.png">
        <script src="https://kit.fontawesome.com/be576eb19f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/receipt.css">
    </head>
    <body>
        <div class="navigation">
            <div class="title">
                <img src="../img/logo-white.png" alt="">
                <a href="../index.html"><i class="fas fa-arrow-left"></i>&ensp;Back</a>
            </div>
        </div>

        <header>
            <div class="cont">
                <img src="../img/island/papua.png" alt="">
                <h1>RESEP MAKANAN KHAS PAPUA</h1>
                <p>Dibawah ini adalah list resep-resep makanan pilihan dari pulau Papua yang dominan ke rasa gurih.</p>
            </div>
        </header>
        <div class="card">
            <div class="icon">
                <img src="../img/eat/papeda.jpg" alt="">
                <img src="../img/eat/rendang.jpg" alt="">
                <img src="../img/eat/gulaipaku.jpg" alt="">
            </div>
        </div>
        <div class="main">
            <div class="content1">
                <img style="float: left;" src="../img/eat/papeda.jpg" alt="">
                <h1>Papeda</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>0,5kg sagu atau tepung sagu</li> 
                    <li>3 liter air</li>
                    <li>2 buah jeruk nipis</li> 
                    <li>1 sdt garam</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Rebus air sampai mendidih. Sementara siapkan sagu dibaskom atau piring mangkok dan diberi perasan jeruk, garam, dan air dingin secukupnya. Aduk sagu cair lalu</li>
                    <li>Jika air sudah mendidih siram air ke sagu yang sudah disiapkan sambil diaduk sampai masak. Tetap diaduk supaya matang merata.</li>
                    <li>Papeda siap disajikan dengan sayuran dan lauk pauk.</li>

                </ul>
                <img style="float: right;" src="../img/eat/aunusenebre.jpg" alt="">
                <h1 style="margin-left: 30%;">Aunu Senembre</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>¼ sdt garam</li>
                    <li>1 batang daun talas dan batangnya, diiris</li>
                    <li>100 gr kelapa parut kasar</li>
                    <li>100 gr ikan teri nasi, dicuci bersih, serta digoreng sebentar.</li>
                    
                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Pertama, rebus daun talas dan batangnya hingga matang</li>
                    <li>Angkat rebusan daun talas dan tiriskan</li>
                    <li>Campurkan ikan teri nasi dan daun talas serta batangnya. Masukkan pula kelapa parut kasar dan garam. Aduk hingga merata.</li>
                    <li>Kukus bahan-bahan tersebut sekira 30 menit dengan api sedang hingga matang.</li>
                    <li>Bila sudah, angkat dan sajikan.</li>                    
                </ul>
                <img style="float: left;" src="../img/eat/gulaipaku.jpg" alt="">
                <h1>Gulai Paku</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>1 atau 2 ikat daun pakis yang banyak daun dan masih muda</li>
                    <li>1/4 santan cair</li>
                    <li>3 sampai 5 lembar daun jeruk purut</li>
                    <li>1 lembar daun kunyit</li>
                    <li>1 batang serai, digeprek</li>
                    <li>2 buah asam kandis</li>
                    <li>garam, gula, dan merica sesuai selera</li>
                </ul>
                <h3>Bahan Halus :</h3>
                <ul>
                    <li>4 buah bawang merah</li>
                    <li>3 siung bawang putih</li>
                    <li>10 buah cabai rawit</li>
                    <li>1 cm kunyit</li>
                    <li>2 cm lengkuas</li>
                    <li>2 cm jahe</li>
                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Bersihkan daun pakis. Potong-potong pakis 4 cm, cuci bersih, dan sisihkan.</li>
                    <li>Campur santan, bersama bumbu halus, daun jeruk, serai, dan daun kunyit hingga mendidih dan harum. Sesekali aduk perlahan agar santan tidak pecah.</li>
                    <li>Masukkan daun pakis, asam kandis, garam, sedikit gula, dan merica. Masak dengan api sedang hingga pakis lunak dan matang. Angkat, sajikan selagi hangat. </li>
                </ul>    
            </div>
        </div>
        
        <footer>
            <p>Menu's Antara adalah media belajar memasak masakan indonesia dengan menggunakan
                platform website, dimana kita dapat mengakses kapanpun dan dimanapun, dengan
                resep-resep asal nusantara dari ujung timur hingga ujung barat.
            </p>
            <hr>
            <h3>&copy;DIQOMA</h3>    
        </footer>
    </body>
    </html>