<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Makanan Khas Sulawesi || DIQOMA</title>
        <link rel="icon" href="../img/icon.png">
        <script src="https://kit.fontawesome.com/be576eb19f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/receipt.css">
    </head>
    <body>
        <div class="navigation">
            <div class="title">
                <img src="../img/logo-white.png" alt="">
                <a href="../index.html"><i class="fas fa-arrow-left"></i>&ensp;Back</a>
            </div>
        </div>

        <header>
            <div class="cont">
                <img style="width: 200px;" src="../img/island/sulawesi.png" alt="">
                <h1>RESEP MAKANAN KHAS SULAWESI</h1>
                <p>Dibawah ini adalah list resep-resep makanan pilihan dari pulau Sulawesi yang dominan ke rasa gurih, manis.</p>
            </div>
        </header>
        <div class="card">
            <div class="icon">
                <img src="../img/eat/sopkonro.jpg" alt="">
                <img src="../img/eat/palubassa.jpg" alt="">
                <img src="../img/eat/cakalang.jpg" alt="">
            </div>
        </div>
        <div class="main">
            <div class="content1">
                <img style="float: left;" src="../img/eat/sopkonro.jpg" alt="">
                <h1>Sop Konro</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>1 kg iga sapi, potong 10 cm</li>
                    <li>3 lembar daun salam</li>
                    <li>5 lembar daun jeruk purut</li>
                    <li>5 batang serai</li>
                    <li>6 buah keluak, ambil daging buahnya, rendam, dan haluskan</li>
                    <li>2 sdt garam</li>
                    <li>1 sdm air asam jawa</li>
                </ul>
                <h3>Bumbu Halus :</h3>
                <ul>
                    <li>7 buah kemiri sangrai</li>
                    <li>5 siung bawang putih</li>
                    <li>8 butir bawang merah</li>
                    <li>½ sdm lengkuas cincang</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Langkah pertama dalam memasak sop konro adalah rebus iga dengan 2 liter air, daun salam, daun jeruk, dan serai hingga daging lunak.</li>
                    <li>Tumis bumbu halus dengan 3 sendok makan minyak sampai matang dan berubah warna.</li>
                    <li>Kemudian masukkan keluak, aduk sebentar. Lalu tuangkan bumbu ke panci daging. Masak hingga semua bumbu meresap dan iga sapi matang sempurna.</li>
                    <li>Sisahkan air rebusan iga sebanyak 750 ml, lalu masukkan air asam dan didihkan kembali.</li>
                    <li>Hidangkan selagi panas dan tambahkan bawang goreng, emping goreng, sambal rawit, dan jeruk nipis.</li>
                </ul>
                <img style="float: right;" src="../img/eat/palubassa.jpg" alt="">
                <h1 style="margin-left: 30%;">Pallubasa</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>300 gram daging gandik (paha belakang sapi paling luar), potong dadu 2x2 cm</li>
                    <li>300 gram babat, rebus matang dan potong dadu 2x2 cm</li>
                    <li>50 gram kelapa parut sangrai, haluskan</li>
                    <li>1,2 liter santan dari 1 butir kelapa</li>
                    <li>3 sdm minyak goreng untuk menumis</li>
                    <li>3 batang serai, memarkan</li>
                    <li>2 butir cengkih</li>
                    <li>3 cm kayu manis</li>
                    <li>1 sdt garam</li>
                    <li>1 sdt gula pasir</li>
                    <li>¼ sdt merica bubuk</li>
                    <li>2 sdm air asam jawa, dari 2 sdt asam dan 2 sdm air</li>
                </ul>
                <h3>Bahan Halus :</h3>
                <ul>
                    <li>6 buah cabai merah besar</li>
                    <li>10 butir bawang merah</li>
                    <li>2 sdt ketumbar</li>
                    <li>½ sdt jintan</li>
                    <li>2 cm lengkuas</li>
                    <li>1 sdt pala</li>

                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Panaskan wajan, tuang minyak goreng. Tumis sampai wangi bumbu halus, serai, cengkih, dan kayu manis.</li>
                    <li>Masukkan daging sapi. Aduk sampai berubah warna. Tambahkan babat, aduk lagi sampai berubah warna.</li>
                    <li>Masukkan kelapa parut sangrai, campur rata. Tuang santan. Masak sampai mendidih sambil diaduk sesekali</li>
                    <li>Bumbui dengan garam, gula pasir, dan merica bubuk. Masak sampai mendidih kembali. Sesaat sebelum diangkat, tambahkan air asam jawa. tunggu sebentar.</li>
                    <li>Tuang pallubasa dalam mangkuk . Kamu bisa menambahkan kuning telur bebek atau ayam ke dalam pallubasa. Nikmati pallubasa dengan nasi atau ketupat</li>
                </ul>
                <img style="float: left;" src="../img/eat/cakalang.jpg" alt="">
                <h1>Cakalang Fufu</h1>
                <h3>Bahan:</h3>
                <ul>
                    <li>500 gr ikan cakalang fufu, suwir</li>                    
                    <li>1 ruas jari Jahe, geprek</li>
                    <li>1 ruas jari lengkuas, geprek</li>
                    <li>2 buah sereh, geprek</li>
                    <li>5 lembar daun jeruk</li>
                    <li>Secukupnya garam</li>
                    <li>Secukupnya gula</li>
                    <li>Minyak goreng</li>
                    <li>2 sendok makan perasan air jeruk lemon</li>
                </ul>
                <h3>Bumbu halus :</h3>
                <ul>
                    <li>15 buah cabe merah keriting</li>
                    <li>15 buah cabe rawit merah</li>
                    <li>8 siung bawang merah</li>
                    <li>4 siung bawang putih</li>
                </ul>
                <h3>Proses Pembuatan:</h3>
                <ul>
                    <li>Goreng sebentar ikan yang sudah di suwir, sisihkan.</li>
                    <li>Lalu masukan minyak sedikit, </li>
                    <li>tumis bumbu halus dan bumbu lain hingga agak kering dan wangi</li>
                    <li>Setelah itu masukan ikan cakalang suwir.</li>
                    <li>Aduk hingga kering. Sisihkan</li>
                    <li>Lalu masukan kembali minyak goreng agak banyak sekitar ½ gelas,</li>
                    <li>goreng kembali ikannya, hingga kering dan warna kecoklatan.</li> 
                    <li>Proses ini akan membuat ikan tahan hingga 1-2 minggu.</li>
                    <li>cakalang fufu siap disajikan</li>

                </ul>    
            </div>
        </div>
        
        <footer>
            <p>Menu's Antara adalah media belajar memasak masakan indonesia dengan menggunakan
                platform website, dimana kita dapat mengakses kapanpun dan dimanapun, dengan
                resep-resep asal nusantara dari ujung timur hingga ujung barat.
            </p>
            <hr>
            <h3>&copy;DIQOMA</h3>    
        </footer>
    </body>
    </html>